.main-parent {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.main-parent h1 {
    text-align: center;
}

.main-parent h1 span {
    color: blueviolet;
}

.single-news-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

.single-news {
    display: flex;
    justify-content: center;
    width: 80%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    overflow-y: auto;
    color: black;
    border: 3px solid blueviolet;
}

.news-details-container {
    display: flex;
    flex-direction: column;
}

.news-image-container {
    width: 350px;
    height: 150px;
    margin-right: 10px;
}

.news-img {
    width: 100%;
    padding: 10px;
    height: 150px;
    border-radius: 20px;
    margin-right: 10px;
    object-fit: cover
}

.news-title {
    font-weight: 700;
    color: blueviolet;
    font-size: 18px;
}

.description {
    color: white;
    margin-top: 10px;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.created-at {
    margin-bottom: 15px;
    color: white;
}

.created-at span {
    font-weight: 600;
}

.single-news a {
    font-weight: 700;
    color: blueviolet;
    text-decoration: underline;
    transform: 0.3s ease;
}

.single-news a:hover {
    color: #9b32f0;
    transition: 0.3s ease;
}

.end-message {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

/* @media(max-width:500px) {

    .single-news {
        flex-direction: column;
        gap: 10px;
        width: 500px;
    }

    .news-img {
        width: 100px;
    }

} */

@media(max-width:768px) {

    .single-news {
        flex-direction: column;
        gap: 10px;
        width: 600px;
        overflow: hidden;
    }

    .news-img {
        width: 280px;
        padding: 5px;
    }

}