.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}

.navbar .logo {
    width: max(12vw, 120px);
}

.navbar .ham {
    width: max(2vw, 25px);
    display: none;
}

.mobile-menu {
    display: none;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar li {
    cursor: pointer;
}

.mouse-over:hover {
    border-bottom: 3px solid #fff;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}

.navbar select {
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;
}

.navbar option {
    background-color: #09005c;
    color: #fff;
}

@media(max-width:900px) {
    .navbar {
        padding: 20px 8%;
    }
}

@media(max-width:768px) {
    .navbar {
        padding: 20px 5%;
    }

    .navbar ul {
        display: none;
    }

    .navbar .ham {
        display: block;
    }

    .mobile-menu {
        display: block;
        color: white;
        position: absolute;
        top: 8%;
        margin-bottom: 20px;
        display: flex;
        gap: 30px;
    }

    .mobile-menu li {
        list-style: none;
        font-size: 18px;
        margin-top: 20px;
    }

    .mobile-home {
        margin-left: 50px;
    }


}