.div {
    display: flex;
    justify-content: center;
    width: 100%;
}


.form-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 68vh;
    margin: 50px 0px;
    justify-content: center;
    background-color: transparent;
    border-radius: 30px;
}

.form-container form {
    width: 49%;
    position: relative;
}

.form-image {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid white;
}

.form-image img {
    width: 450px;
    height: 450px;
}

.form-container form label {
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    bottom: 50%;
    left: 10%;
}

.form-container form label span{
    color: #9945e9;
}

.form-container form input {
    position: absolute;
    bottom: 36%;
    left: 10%;
    width: 60%;
    padding: 12px 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
    outline: none;
}

.error {
    position: absolute;
    bottom: 30%;
    left: 10%;
    color: #bf3737;
    font-weight: 200;
    font-size: 15px;
}

.signup-btn {
    padding: 12px 30px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12%;
    left: 40%;
}

.signup-btn:hover{
    background-color: #fff;

}

.signup-btn:hover .arrow {
    transform: rotate(45deg);
    transition: 0.5s ease;
}


.arrow {
    transition: 0.5s ease;
    margin-left: 6px;
}

.login-credentials-container {
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-credentials-container h1 {
    font-size: 45px;
    display: flex;
    align-items: center;
}

.login-credentials-container img {
    width: 60px;
    height: 60px;
}

.value-container-div{
    background-color: black;
    padding: 50px 80px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.login-credentials-container p span {
    color: #9945e9;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
}

.login-password {
    color: blueviolet;
    font-size: 21px;
    font-weight: 500;
}

.redirect-p{
    font-size: 19px;
}


@media (max-width:600px) {

    .form-container{
        width: 80%;
        padding: 10px;
    }

    .form-image {
        display: none;
    }

    .form-container form label{
        font-size: 30px;
        bottom: 55%;
        left: -30%;
        width: 280px;
    }

    .form-container form input{
        left: -35%;
        width: 250px;
        bottom: 37%;
    }

    .error{
        width: 300px;
        left: -35%;
        bottom: 25%;
    }

    .signup-btn{
        bottom: 10%;
    }

    .login-credentials-container h1{
        font-size: 30px;
    }

    .value-container-div{
        padding: 25px 35px;
    }
    
}