.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 800px;
    margin: 20px 0px;
}

.heading h2 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.heading span {
    color: blueviolet;
}

img {
    display: flex;
    justify-content: center;
}

.img img {
    height: 350px;
    width: 260px;
}

.bottom {
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bottom-heading {
    font-size: 40px;
    color: blueviolet;
    font-weight: 500;
}

.card-container {
    max-width: 900px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 70px;
    border: 5px solid #7429C6;
}

button {

    padding: 10px 30px;
    color: white;
    background-color: #C951E7;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transform: 0.5s ease;
    position: relative;

}

button:hover {
    background-color: #7429C6;
    transition: 0.3s ease;
    box-shadow: #7429C6;
}

.custom-para1 {
    color: #000;
    font-weight: 600;
    font-size: 25px;
}

.custom-para {
    color: #b1b0b0;
    font-weight: 200;
    font-size: 15px;
}

.custom1 {
    margin-top: 22px;
    color: #000;
    font-size: 20px;
    font-weight: 200;

}

.custom1 span {
    color: #7429C6;
    font-weight: 600;
}

.custom2 {
    margin-bottom: 22px;
    font-weight: 200;
    color: #b1b0b0;
    font-size: 15px;
}

.faq-h2{
    font-size: 35px;
    margin-bottom: 35px;
    color: blueviolet;
    font-weight: 500;
    margin-left: 30px;
}

.faq {
    background-color: white;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    color: #000;
    padding: 10px 20px;
    border-radius: 15px;
    border: 4px solid #7429C6;
}

.faq h3{
    font-size: 25px;
    border-bottom: 2px solid #b9a9a9;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.faq h3 span{
    transition: transform 0.5s ease-in-out ;
}

.faq p{
    font-size: 20px;
    color: #000;
}

.rotate{
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out ;
}

@media (max-width:760px) {

    .top {
        flex-wrap: wrap;
    }

    .img img {
        height: 200px;
        width: 150px;
        margin-left: 110px;
        margin-top: 60px;
    }

    .heading h2 {
        font-size: 30px;
        padding: 0px 50px;
    }

    .bottom-heading {
        font-size: 30px;
        color: blueviolet;
        font-weight: 600;
    }

    .card {
        margin-bottom: 20px;
    }

    .faq-h2{
        /* text-align: center; */
        margin-top: 40px;
    }

    .faq{
        width: 340px;
    }

    .faq h3{
        font-size: 18px;
    }

    .faq p{
        font-size: 15px;
    }
}